---
const { styles } = Astro.props
---

<p transition:persist class:list={["flex items-end text-4xl font-extrabold leading-none select-none", styles]}>Varial<span class="text-cms-green-500">CMS</span><span class="text-[0.4em] font-light pb-[0.1em] pl-0.5">v0.3.6</span></p>