---
import Logo from '../components/Logo.astro';
import '../tailwind.css';

interface Props {
	title: string;
}

const { title } = Astro.props;

// @ts-ignore
const user = Astro.locals.user


// @ts-ignore
const permissions = Astro.locals.user.role.permissions
const cmsAccess = permissions.view.contentManager || permissions.view.marketingEmails || permissions.view.mediaLibrary || permissions.view.roles || permissions.view.settings || permissions.view.users
const pathname = Astro.request.url.replace(import.meta.env.SITE_URL, '')

console.log('pathname', pathname)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex h-screen">
		{!cmsAccess && (
			<main class="w-full h-screen flex flex-col items-center justify-center gap-8">
				<h1>Unauthorized</h1>
				<div class="flex flex-col items-center">
					<p>You don't have the required permissions to view this page</p>
					<p>If this is an error, contact your administrator</p>
				</div>
				<a href="/log-out" class="action-button">Log out</a>
			</main>
		)}
		{cmsAccess && (
			<>
				<nav class="w-fit bg-cms-white shadow flex flex-col items-center justify-between p-6">
					<div class="flex flex-col gap-4 text-cms-black">
						<Logo styles="mb-4" />
						<a 
							href="/" 
							class:list={[
								"w-full border border border-cms-white rounded-lg p-4 text-center text-cms-black flex gap-2.5 items-center", 
								pathname === '/' && 'text-cms-blue-300 shadow border-gray-200'
							]
						}>
							<img src="/dashboard.svg" alt="" width="28" height="28" class:list={[pathname !== '/' && 'saturate-0']} /> Dashboard
						</a>
						<a 
							href="/content-manager" 
							class:list={[
								"w-full border border border-cms-white rounded-lg p-4 text-center text-cms-black flex gap-2.5 items-center", 
								pathname.startsWith('/content-manager') && 'text-cms-blue-400 shadow border-gray-200'
							]
						}>
							<img src="/data-management.svg" alt="" width="28" height="28" class:list={[!pathname.startsWith('/content-manager') && 'saturate-0']} /> Content Manager
						</a>
					</div>
					<div class="w-full">
						{user.name}
						<a href="/log-out" class="action-button"><img src="/log-in.svg" alt="" class="invert" /> Log out</a>
					</div>
				</nav>
				<section class="p-8">
					<slot />
				</section>
			</>
		)}
	</body>
</html>

<!-- <script>
	console.log('hello script', location.pathname)
	const navLinks = document.querySelectorAll('.nav-link')

	navLinks.forEach(navLink => {
		if (navLink.attributes['href'].value === location.pathname) {
			navLink.classList.add('text-cms-green-500')
			navLink.classList.add('shadow')
		}
	})
</script> -->
